body {
  background: beige;
}

.book-box {
  width: 600px;
  height: 150px;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 0;
  text-align: left;
  background: #a5c2ad;
  object-fit: contain
}

img {
  width: 100px;
  padding: 1em;
  float: left;
  vertical-align: center;
  display: inline-block;
  object-fit: contain
}

h2 {
  padding-top: 30px;
  margin: 10px;
}

nav {
  margin: 1em;
  border-radius: 20px;
}

p {
  color: red;
}

.delete_button {
  float: right;
  vertical-align: bottom;
  margin: 1em;
}